{% for item in menu_list %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <a href="{% item.url %}" data-toggle="collapse" data-parent="#accordion"><h4>{% item.title %}</h4></a>
            </div>
        </div>
        <div id="bb" class="panel-collapse collapse ">
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                    <li><a style="font-weight: bold;" href="#">上师列表</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endfor %}